<div class="row">
  <div class="col-12">
    <div class="btn-group mr-2" ngbDropdown role="group">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Coluna
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let option of menuOptions; let i = index"
          ngbDropdownItem
          (click)="columnSelected(i)"
        >
          {{ option }}
        </button>
      </div>
    </div>

    <div class="btn-group mr-2" ngbDropdown role="group">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Tipo
      </button>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let type of chartTypes; let i = index"
          ngbDropdownItem
          (click)="chartSelected(type)"
        >
          {{ type | translate }}
        </button>
      </div>
    </div>

    <button class="btn btn-outline-primary float-right mr-2" (click)="plusChartSize()">+</button>
    <button class="btn btn-outline-primary float-right mr-2" (click)="minusChartSize()">
      -
    </button>
  </div>

  <div class="col-12" *ngIf="chart.data != null">
    <app-echart [chartData]="chart.data" [chartType]="chart.type"> </app-echart>
  </div>
</div>
