<div class="d-flex" id="wrapper" [ngClass]="toggleMenu ? '' : 'toggled'">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Synapse Dashboard</div>
    <div class="list-group list-group-flush">
      <a
        *ngFor="let menuItem of menuItems"
        class="list-group-item list-group-item-action bg-light"
        (click)="onMenuClick(menuItem)"
      >
        {{ menuItem.name }}
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button
        class="btn btn-primary mr-2"
        id="menu-toggle"
        (click)="toggleMenu = !toggleMenu"
      >
        Toggle Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="ID"
            aria-label="ID"
            aria-describedby="basic-addon1"
            #idInput
            [(ngModel)]="chartId"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="saveId()"
            >
              Salvar
            </button>
          </div>
        </div>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>
  <!-- /#page-content-wrapper -->
</div>
